<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<div class="header">
    <h2>CRUD de Estudiantes</h2>
    <a class="btn-logout" th:href="@{/logout}">Cerrar sesión</a>
</div>

<div class="container">
    <div class="card">
        <h3>Listado de Estudiantes</h3>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Ciudad</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${estudiantes}">
                <td th:text="${c.id}"></td>
                <td th:text="${c.nombre}"></td>
                <td th:text="${c.edad}"></td>
                <td th:text="${c.ciudad}"></td>
                <td>
                    <a th:href="@{/estudiantes/editar/{id}(id=${c.id})}">
                        <button type="button" class="btn-edit">Editar</button>
                    </a>
                    <a th:href="@{/estudiantes/eliminar/{id}(id=${c.id})}"
                       onclick="return confirm('¿Deseas eliminar este estudiante?')">
                        <button type="button" class="btn-delete">Eliminar</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card">
        <h3 th:text="${editando} ? 'Editar estudiante' : 'Nuevo estudiante'"></h3>

        <form th:action="${editando} ? @{/estudiantes/actualizar} : @{/estudiantes}"
              th:object="${estudiante}"
              method="post">

            <input type="hidden" th:field="*{id}" />

            <label>Nombre</label>
            <input type="text" th:field="*{nombre}" required />

            <label>Edad</label>
            <input type="text" th:field="*{edad}" required />

            <label>Ciudad</label>

            <select th:field="*{ciudadId}" required>
                <option value="">Seleccione una ciudad</option>

                <option th:each="c : ${ciudades}"
                        th:value="${c.id}"
                        th:text="${c.nombre}">
                </option>
            </select>


            <button type="submit" class="btn-save"
                    th:text="${editando} ? 'Actualizar' : 'Guardar'"></button>
            <button type="button" class="btn-clear" onclick="window.location.href='/estudiantes'">
                Limpiar
            </button>
        </form>
    </div>
</div>

<script th:if="${mensaje}" >
    alert('[[${mensaje}]]');
</script>
</body>
</html>